@font-face {
    font-family: DeValencia;
    src: url(../../vendor/font/De\ Valencia\ \(beta\).otf);
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

.hero-section {
    font-family: DeValencia;
    background: -webkit-linear-gradient(55deg, #131313 0%,#2c2c2c 100%); 
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

.hero-title {
    margin-top: 100px;
    margin-left: 175px;
    font-size: 11rem;
    min-width: 300px;

}

.hero-paragraph {
    color: #534f4f;
    font-size: 2rem;
    margin-top: 35px;
    margin-left: 196px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    width: 50%;
}

.logo{
    margin-top: 10px;
}

.hero-logo {
    height: 400px;
    width: 400px;
    margin-left: 157px;
    margin-top: 166px;
}

.hero-kanji{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 200px;
    width: 30%;
    margin-left: 70%;
    position: relative ;
    bottom: 210px;
    
}

.kanji {
    margin-right: 300px;
    height: 420px;
    opacity: 0.5;
}

.scroll-down {
    writing-mode: vertical-rl;
    height: 200px;
    position: relative;
    text-decoration: none;
    font-size: 19px;
    color: white;
    right: 130px;
    top: 290px;
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
    align-items: center;
    display: flex;
    transition: ease-in-out 0.3;
}
.scroll-down:hover {
    color: #f1cf3b;
    transition: ease-in-out 0.3;
}

@media (max-width: 1450px){
    .hero-title{
        margin-top: 100px;
        margin-left: 0px;
    } 
    .hero-paragraph {
        margin-top: 124px;
        margin-left: 100px;
        font-size: 1.8rem;
    }
    .hero-section{
        height: 100vh;
    }
    .logo{
        height: 400px;
    }
    .hero-logo{
        height: 300px !important;
        width: 300px !important;
        margin-left: 60px !important; 
        margin-top: 90px !important;
    }
    .hero-kanji{
        display: flex;
        justify-content: flex-end;
        margin-right: 85px;
        margin-top: 100px;
    }
    .kanji {
        margin-right: 165px;
        width: 370px;
    }
}

@media (max-width: 1080px){
    .hero-title{
        margin-top: 100px;
        margin-left: 0px;
    }  
    .hero-paragraph {
        margin-top: 76px;
        margin-left: 53px;
    }
    .hero-section{
        height: 100vh;
    }
    .logo{
        height: 333px;
    }
    .hero-logo{
        height: 280px !important;
        width: 280px !important;
        margin-left: 20px !important; 
        margin-top: 100px !important;
    }
    .hero-kanji{
        display: flex;
        justify-content: flex-end;
        margin-right: 70px;
        margin-top: 180px;
    
    }
    .kanji {
        height: 325px;
        margin-right: 105px;
    }

    .scroll-down {
        right: 48px;
        top: 218px;
    }
}
@media (max-width: 767px){
    .hero-title{
        margin-top: 100px;
        margin-left: 0px;
    }  
    .hero-paragraph {
        margin-top: 123px;
        margin-left: 48px;
    }
    .hero-section{
        height: 100vh;

    }
    .logo {
        height: 303px;
    }
    .hero-logo{
        height: 200px !important;
        width: 200px !important;
        margin-left: 20px !important; 
        margin-top: 100px !important;
    }
    .hero-kanji{
        display: flex;
        justify-content: flex-end;
        margin-right: 60px;
        margin-top: 250px;
    
    }
    .kanji {
        height: 311px;
        margin-right: 65px;
    }
}
@media (max-width: 499px){
    .hero-title{
        margin-top: 100px;
        margin-left: 0px;
    }  
    .hero-paragraph {
        margin-top: 30px;
        margin-left: 36px;
        font-size: 20px;
    }
    .hero-section {
        height: 65vh;
    }
    .logo{
        height: 180px;
        width: 180px;
    }
    .hero-logo{
        height: 180px !important;
        width: 180px !important;
        margin-left: 20px !important; 
        margin-top: 100px !important;
    }
    .hero-kanji{
        display: flex;
        justify-content: flex-end;
        margin-right: 55px;
    
    }
    .kanji {
        height: 170px;  
    }
    .scroll-down {
        right: 36px;
        top: 98px;
        font-size: 12px;
    }
}

@media (max-width: 375px){
    .hero-section{
        height: 100vh;  
    }
    .kanji {    
        height: 170px;
    }
    .hero-section {
        height: 65vh;
    }
}
